h1
{
    color: #ffffff;
    background-color: rgb(105, 11, 168);
    opacity: 0.6;
    text-align: center;
    font-family: "calibri";
    font-size: 200%
}

form{

    width: 350px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: #ddaaff;
    opacity: 1.0;
}

form input{
   padding: 3px 10px;
    height:20px;
    border-radius: 3px;
    margin:0;
    display: inline-block;
    text-align: left;
    direction: ltr;
/*
    height:20px;
    padding: 3px 10px;
    border-radius: 3px;
    display: inline-block;
 */
}

button
{
    text-align: center;
    font-weight: bold;
}

#div123
{
    background-color: blue;
    float: left;
}

#div456
{
    background-color: red;
    float: left;
}

#div789
{
    background-color:green;
    
}

.userIcon {
    position:absolute;
    bottom:2px;
    right:5px;
    width:24px;
    height:15px;
}

.error
{
    color: #D8000C;
    background-color: #FFBABA;
}

.input_container {
    position:relative;
    padding:0 0 0 20px;
    margin:0 20px;
  
    direction: rtl;
    width: 200px;
}