<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú lateral responsive - MagtimusPro</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body id="body">
    
    <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>
    </header>

    <div class="menu__side" id="menu_side">

        <div class="name__page">
            <i class="fas fa-angle-double-left"></i>
            <h4>NOTUS</h4>
        </div>

        <div class="options__menu">	

            <a href="/index/" >
                <div class="option">
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Inicio</h4>
                </div>
            </a>

            <a href="/index/usuario/">
                <div class="option">
                    <i class="far fa-user" title="Usuario"></i>
                    <h4>Usuarios</h4>
                </div>
            </a>
            
            <a href="/index/cursos/" class="selected"> 
                <div class="option">
                    <i class="fas fa-book" title="Cursos"></i>
                    <h4>Cursos</h4>
                </div>
            </a>

            <a href="/index/materias/">
                <div class="option">
                    <i class="fas fa-book-open" title="Materias"></i>
                    <h4>Materias</h4>
                </div>
            </a>

            <a href="/index/actividades/">
                <div class="option">
                    <i class="far fa-file" title="Actividades"></i>
                    <h4>Actividades</h4>
                </div>
            </a>

            <a href="/index/comentarios">
                <div class="option">
                    <i class="far fa-comment-alt" title="Comentarios"></i>
                    <h4>Comentarios</h4>
                </div>
            </a>

            <a href="/home/">
                <div class="option">
                    <i class="fas fa-sign-out-alt" title="Cerrar Sesión"></i>
                    <h4>Cerrar Sesión</h4>
                </div>
            </a>

        </div>

    </div>

    <main>
        <h1>Cursos</h1><br>
        <p>Bienvenido a la sección de gestión de cursos, a continuación podrá elegir la acción que desea realizar:</p><br>
        <button type="button" name="Boton" value="buscarCurso" id="botonEnviar"> <a href="{{url_for('main.buscarCurso')}}">Buscar Curso</a> </button>
        <button type="button" name="Boton" value="calificarCurso" id="botonEnviar"> <a href="{{ url_for('main.calificarCurso') }}"> Calificar curso </a> </button>
        <button type="button" name="Boton" value="consultarCalificaciones" id="botonEnviar"> <a href="{{ url_for('main.consultarCalificaciones') }}"> Consultar calificaciones </a> </button>
        <button type="button" name="Boton" value="consultarCurso" id="botonEnviar"> <a href="{{ url_for('main.consultarCurso') }}"> Consultar curso </a> </button>
        <button type="button" name="Boton" value="crearCurso" id="botonEnviar"> <a href="{{ url_for('main.crearCurso') }}"> Crear curso </a> </button>
        <button type="button" name="Boton" value="editarCurso" id="botonEnviar"> <a href="{{ url_for('main.editarCurso') }}"> Editar curso </a> </button>
        <button type="button" name="Boton" value="eliminarCurso" id="botonEnviar"> <a href="{{ url_for('main.eliminarCurso') }}"> Eliminar curso </a> </button>
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    
</body>
</html>