<html>
   <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mioCSS.css') }}" />
	   <title>Bienvenida </title>
	   <meta charset="UTF-8"/>
   </head>
   <body>
      
      <img src="{{ url_for('static', filename='img/logoNotus.png') }}" />
      <h1>Bienvenido a NOTUS</h1>
<!--
      <nav>
         <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Quiénes somos</a></li>
            <li><a href="#">Servicios</a>
               <ul>
                  <li><a href="">Servicio 1</a></li>
                  <li><a href="">Servicio 2</a></li>
                  <li><a href="">Servicio 3</a></li>
                  <li><a href="">Servicio 4</a></li>
               </ul> 
            </li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contacto</a></li>
         </ul>
      </nav>
-->

      <form name="home" >
         <a href="{{ url_for('main.login') }}">
            <button type="button" name="Boton" value="login" href="{{ url_for('main.login') }}"> Iniciar Sesión </button>
         </a>
      <!--        
         <a href="/signUp/">
            <button type="button" name="Boton" value="login" > Registrarse </button>
         </a>
      -->
      </form>
     
   </body>
</html>