<html>
   <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mioCSS.css') }}" />
	   <title>Bienvenida </title>
	   <meta charset="UTF-8"/>
   </head>
   <body>

      <img src="{{ url_for('static', filename='img/logoNotus.png') }}" />
      <h1>Se ha enviado un correo para reestablecer la contraseña, al correo asociado al usuario que ha intentado login, revise su correo electronico.</h1>
   
      <form name="Index" method="POST">
         <button type="submit" name="Boton" value="Aceptar" id="botonEntrar" >Aceptar</button>
      </form>
     
   </body>
</html>