<html>
   <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mioCSS.css') }}" />
	   <title>Bienvenida </title>
	   <meta charset="UTF-8"/>
   </head>

   <body>
      <img src="{{ url_for('static', filename='img/logoNotus.png') }}" />
      <h1>Recuperar contraseña</h1>
   
      <form name="Password Restore" method="POST">
         <!--<p><input type="submit" value="Enviar"></p>
         <button type="submit" value="Entrar" id="botonEntrar" onclick="location.href='/home.html'">Login</button>
         <a href="/"><button type="submit" value="Entrar" id="botonRestablecer" >Reestablecer Contraseña</button></a>-->
         
         <button type="submit" name="Boton" value="resetPassword" id="botonRestablecer" onclick="location.href='/home/'">Reestablecer Contraseña</button>
      </form>
     
   </body>
</html>