<html>
   <head>
      <script src="{{ url_for('static', filename='js/funciones.js') }}"></script>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mioCSS.css') }}" />
	   <title>Formulario de Registro</title>
	   <meta charset="UTF-8"/>
   </head>

   <body>

      <h1>Registro de Nuevo Usuario</h1>
      
      <form name="formularioRegistro" onsubmit="return validar();" method="POST" action="{{url_for('main.signUp')}}">
         
         <p>Nombre:
            <div class="input_Container">
               <input type="text" name="nombre" /> 
               <img src="{{ url_for('static', filename='img/user.png') }}" class="userIcon"/>
            </div>
         </p>

         <p>Usuario:
            <div class="input_Container">
               <input type="text" name="username" id="username" />
               <img src="{{ url_for('static', filename='img/user.png') }}" class="userIcon"/>
            </div>
            <span class="error" id="errorUsername"></span>
         </p>

         <p>Sexo: 
            <input type="radio" name="sexo" value="h" /> hombre
            <input type="radio" name="sexo" value="m" /> mujer
         </p>
      
         <p>Correo: 
            <div class="input_Container">
               <input type="text" name="correo"  />
               <img src="{{ url_for('static', filename='img/email.png') }}" class="userIcon"/>
            </div>
            <span class="error" id="errorMail"></span>
         </p>
      
         <p>Contraseña:
            <div class="input_Container">
               <input type="password" name="userPassword" />
               <img src="{{ url_for('static', filename='img/key.png') }}" class="userIcon"/>
            </div>
            <span class="error" id="errorPassword"></span>
            <img src="{{ url_for('static', filename='img/ver.png') }}" width=100 height=50 onmouseover="verClave();" onmouseout="ocultarClave();"/>
         </p>
         
         <p>
            <input type="checkbox" name="condiciones" aria-valuenow="off" value="Acepto"/> Declaro haber leido y
            acepto las condiciones generales del programa y la normativa sobre
            protección de datos
         </p>
         
         
         <!-- <p><input type="submit" value="Enviar"></p>-->
         <button type="submit" name="Boton" value="newRegister" id="botonEnviar">Enviar</button>
         <button type="submit" name="Boton" value="Cancelar" id="botonCancelar">Cancelar</button>
         <!-- <link class="button" h>Hola</link>  -->
      </form>

      <div id="errorServer">
         <p>{{errorMessage}}</p>
      </div>
   </body>
</html>